%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [
    warnings_as_errors,
    {parse_transform, lager_transform},
    debug_info
]}.

{deps,
 [
  {lager, "2.1.1",
    {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}}
 ]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
%% {dev_only_deps,
%%  [
%%   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}}
%%  ]}.

%% Set this to true if you will build OTP releases of this project via
%% `make rel` and want to include the rebar_lock_deps_plugin. You can
%% also specify `{branch, Branch}' or `{tag, Tag}' to use a specific
%% build of the plugin.
{use_lock_deps, true }.

%% Use edown to render a markdown version of edoc. The generated
%% markdown can be checked in and will be browsable on github. The
%% default is to add edown as a dev only dependency and to enable
%% it. You can set this to false to do your own thing.
{use_edown, false}.

{cover_enabled, true}.
