[
  {chatterbox, [
    {port, 9909},
    {ssl, true},
    {ssl_options, [{certfile,   "E:/Erlang18/Github/chatterbox/config/localhost.crt"},
                   {keyfile,    "E:/Erlang18/Github/chatterbox/config/localhost.key"},
                   {honor_cipher_order, false},
                   {versions, ['tlsv1.2']},
                   {next_protocols_advertised, [<<"h2">>]}]},
    {chatterbox_static_content_handler, [
                   {root_dir, "E:/Erlang18/Github/chatterbox/priv"}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, error}
    ]}
  ]}
].
