[
 {chatterbox,
  [
   {port, 8081},
   {ssl, true},
   {ssl_options, [{certfile,   "localhost.pem"},
                  {keyfile,    "localhost.key"},
                  {cacertfile, "ca.pem"},
                  {versions, ['tlsv1.2']}]},
   {chatterbox_static_content_handler, [
                                        {root_dir, "/home/joe/dev/joedevivo/euc2015"}
                                       ]},
   {chatterbox_static_stream,
    [
     {root_dir, "/home/joe/dev/joedevivo/euc2015"}
    ]}

  ]}
].
