[
  {chatterbox,
   [
    {port, 8081},
    {ssl, true},
    {ssl_options, [{certfile,   "localhost.crt"},
                   {keyfile,    "localhost.key"},
                   {honor_cipher_order, false},
                   {versions, ['tlsv1.2']},
                   {alpn_preferred_protocols, [<<"h2">>]}]},
    {chatterbox_static_content_handler, [
                                         {root_dir, "/home/joe/dev/joedevivo/euc2015"}
                                        ]},
    {chatterbox_static_stream,
     [
                  {root_dir, "/home/joe/dev/joedevivo/euc2015"}
     ]}

  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, debug}
    ]}
  ]}
].
