name: Common Test

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

jobs:
  build:
    name: Test on OTP ${{ matrix.otp_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        otp_version: ['23.2.1', '22.3.4.2']
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2

    - uses: bajankristof/setup-erlang@master
      with:
        otp-version: ${{ matrix.otp_version }}

    - name: Compile
      run: rebar3 compile
    - name: Unit Tests
      run: rebar3 eunit
    - name: Tests
      run: rebar3 ct --cover
    - name: Dialyzer
      run: rebar3 dialyzer
    - name: Covertool
      run: rebar3 covertool generate

    - uses: codecov/codecov-action@v1
      with:
        file: _build/test/covertool/chatterbox.covertool.xml
